[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
requests = "*"
gunicorn = "*"
authlib = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[scripts]
gunilocal= "gunicorn --workers 3 --bind 0.0.0.0:8000 -m 007 --reload wsgi:app"
guni =     "gunicorn --workers 3 --bind unix:cop4521.sock -m 007 --daemon --reload wsgi:app"
gunidebug ="gunicorn --workers 3 --bind unix:cop4521.sock -m 007 --reload wsgi:app"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
