[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
requests = "*"
gunicorn = "*"
authlib = "*"
python-dotenv = "*"

[scripts]
guni ="gunicorn --workers 3 --bind unix:cop4521.sock -m 007 --daemon --reload wsgi:app"
gunidebug ="gunicorn --workers 3 --bind unix:cop4521.sock -m 007 --reload wsgi:app"

[dev-packages]

[requires]
python_version = "3.10"
