button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.Like {
	background-color: green;
}

.Dislike {
	background-color: red;
}
nav a {
  color: red;
  font-size: 3em;
  margin-left: 50px;
  text-decoration: none;
} 

.url{
  color: blue;
}

.Login:link, .Login:visited {
  background-color: dodgerblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 800px;
}

.Login:hover, .Login:active {
  background-color: blue;
}

.posts {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}