button {
  border: none;
  color: #0B0C10;
  background-color: #45A29E;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

button:hover, button:active, button:focus {
  background-color: #66FCF1;
}

/*
.Like {
	background-color: green;
}

.Dislike {
	background-color: red;
}
*/

.url:link, .url:visited{
  color: #66FCF1;
}

.url:hover, .url:active {
  color: #45A29E;
}

.navBar:link, .navBar:visited {
  color: #66FCF1;
  font-size: 2.5em;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.navBar:hover, .navBar:active {
  color: #45A29E;
}

.posts {
  background-color: #1f2833;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #171c22;
}

.home {
  background-color: #0B0C10;
}

h1 {
  color: #66FCF1;
}

.lightGrey{
  color: #C5C6C7
}