<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/myfavicon.ico') }}">
</head>
<body>
    <nav>
        <a href="#">FlaskApp</a>
        <a href="#">About</a>
        {% if session %}
        <a class="Login" href="/logout">Logout</a>
        <div><pre>{{pretty}}</pre></div>
        {% else %}
        <a class="Login" href="/login">Login</a>
        {% endif %}
    </nav>
    <hr class="lightGrey">
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
