<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/myfavicon.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/myfavicon.ico') }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <nav>
        <a class="navBar" href="/">FlaskApp</a>
        <a class="navBar" href="/home">Home</a>
        <a class="navBar" href="/about">About</a>
        {% if isadmin %}
        <a class="navBar" href="/admin">Admin</a>
        {% endif %}
        {% if session is not none %}
        <a class="navBar" href="/profile">Profile</a>
        <a class="navBar" href="/logout">Logout</a>
        {% else %}
        <a class="navBar" href="/login">Login</a>
        {% endif %}
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
