{% extends 'base.html' %}
{% block content %}
<body class="about">
    <header>Welcome to our Flask App</header>
    <br>
    <h3 class="text"><u>How to use our Flask App</u></h3>
    <p class="text"> - Click on the 'Home' tab to see the top news stories.</p>
    <p class="text"> - Click on the 'About' tab to learn more about us and our website.</p>
    <p class="text"> - Click on the 'Login/Logout' tab to login or logout of your account.</p>
    <p class="text"> - If you do not have an account, click on the 'Login' tab to sign up.</p>
    <p class="text"> - Once logged into your account, click on the 'Profile' tab to see which news posts you have liked and disliked.</p>
    <p class="text"> - If you are logged as an admin, click the 'Admin' tab to see the news posts liked or disliked by all users.</p>
</body>
{% endblock %}