{% extends 'base.html' %}
{% block content %}
<body class="profile">
    <header>Profile</header>
    <br>
    <h2 class="text">Welcome {{session.userinfo.name}}!</h2>
    <h3 class="text">Here are all the posts you have liked or disliked.</h3>
{% for post in posts %}
	<div class="posts">
		<a class="url" href="{{post['url']}}"><h3>{{post["title"]}}</h3></a>
		{% if post["time"] == 1 %}
		<p class="text">Posted by {{post["by"]}} {{post["time"]}} hour ago</p>
		{% elif post["time"] == 0 %}
		<p class="text">Posted by {{post["by"]}} less than an hour ago</p>
		{% else %}
		<p class="text">Posted by {{post["by"]}} {{post["time"]}} hours ago</p>
		{% endif %}
        <p class="text">Keywords: <b>{{post["keywords"]}}</b></p>
        {% if session %}
            <div class="button-group" >
            {% if post['id'] in liked_posts %}
                <form action="/remove_like" method="post" >
                        {% set is_liked='Liked' %}
                        <button type="submit" name="like" value="{{post['id']}}"
                        class = "{{is_liked}}">Like</button> 
                </form>
            {% else %}
                <form action="/like" method="post" >
                        {% set is_liked='' %}
                        <button type="submit" name="like" value="{{post['id']}}"
                        class = "{{is_liked}}">Like</button> 
                </form>
            {% endif %}
            {% if post['id'] in disliked_posts %}
                <form action="/remove_dislike" method="post" >
                        {% set is_disliked='Disliked' %}
                        <button type="submit" name="dislike" value="{{post['id']}}"
                        class = "{{is_disliked}}">Disike</button> 
                </form>
            {% else %}
                <form action="/dislike" method="post" >
                        {% set is_disliked='' %}
                        <button type="submit" name="dislike" value="{{post['id']}}"
                        class = "{{is_disliked}}">Dislike</button> 
                </form>
            {% endif %}
            </div>
        {% endif %}
	</div>
	<br>
{% endfor %}
</body>
{% endblock %}
